name: Solutions

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs: null

jobs:
  collect:
    runs-on: ubuntu-latest
    outputs:
      solutions: ${{ steps.collect.outputs.solutions }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Collect Solutions
        id: collect
        run: |
          SOLUTIONS=$(ls src | jq -R . | jq -s)
          echo solutions=${SOLUTIONS} >> $GITHUB_OUTPUT
  solution:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/tgallant/advent2025:v1.0.0
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    needs: collect
    continue-on-error: true
    strategy:
      matrix:
        solution: ${{ fromJSON(needs.collect.outputs.solutions) }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Run Solution
        run: |
          cd src/${{ matrix.solution }}
          ciel solution.lisp
